<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>게시물 상세 정보</title>
  <style>
    .pull-right {
        float: right;
        margin-left: 10px;
    }

    .btn-primary {
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .button-group {
        display: flex;
        justify-content: flex-end;
    }

    .button-group .btn {
        margin-left: 10px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="s1_home">게시판 서비스</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="s1_authors">회원관리</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="s1_posts">글목록</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="page-header">
    <h1>게시물 상세 정보</h1>
  </div>

  <form action="/s1_post_update" method="post">
    <div class="form-group">
      <label for="id">id:</label>
      <input type="text" class="form-control" id="id" name="id" th:value="${post.id}" readonly>
    </div>
    <div class="form-group">
      <label for="title">title:</label>
      <input type="text" class="form-control" id="title" name="title" th:value="${post.title}">
    </div>
    <div class="form-group">
      <label for="contents">Contents:</label>
      <textarea class="form-control" id="contents" name="contents" rows="10" th:text="${post.contents}"></textarea>
    </div>
    <div class="form-group">
      <label for="author">author:</label>
      <input type="text" class="form-control" id="author" name="author" th:value="${post.author.email}" readonly>
    </div>
    <div class="button-group">
      <button type="submit" class="btn btn-primary">수정 완료
      </button>
      <a href="s1_posts" class="btn btn-primary">목록으로</a>
      <a th:href="@{/s1_post_delete(id=${post.id})}" class="btn btn-primary">삭제</a>
    </div>
  </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>